{% extends 'Base.html' %}

{% block content %}
<title>Chỉnh sửa tài liệu</title>
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-5 dark:text-gray-300">Quản lý tài liệu: {{ document.title }}</h1>
    <div class="max-w-2xl mx-auto">
        <form method="post" enctype="multipart/form-data" class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
            {% csrf_token %}
            <div class="mb-4">
                <label for="title" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Tiêu đề</label>
                <input type="text" name="title" id="title" value="{{ document.title }}" class="w-full p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600">
            </div>
            <div class="mb-4">
                <label for="author" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Tác giả</label>
                <input type="text" name="author" id="author" value="{{ document.author.name }}" class="w-full p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600">
            </div>
            <div class="mb-4">
                <label for="description" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Miêu tả</label>
                <textarea name="description" id="description" class="w-full p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600">{{ document.description }}</textarea>
            </div>
            <div class="mb-4">
                <label for="image" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Ảnh</label>
                <input type="file" name="image" id="image" class="w-full p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600">
            </div>
            <div class="mb-4">
                <label for="file" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Tệp tải lên</label>
                <input type="file" name="document" id="file" class="w-full p-2 border border-gray-300 rounded-lg dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600">
            </div>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg">Lưu</button>
        </form>
    </div>
</div>
{% endblock %}
